In [1]:
import pandas as pd

In [5]:
twitter_df = pd.read_csv(r"C:\Users\KSpicer\Documents\GitHub\machine_learning_projects\machine_learning_projects\regression_on_twitter_and_toms_hardware\Twitter\Twitter.data")

In [6]:
twitter_df.head()

,0,2,0.1,0.2,1,1.1,1.2,0.3,1.3,0.4,...,1.000000.14,1.000000.15,0.12,2.2,0.13,0.14,1.14,1.15,1.16,0.0
0,2,1,0,0,0,0,4,2,1,0,...,0.0,1.0,2,1,0,0,0,0,4,0.5
1,1,0,0,0,0,4,1,1,0,0,...,1.0,1.0,1,0,0,0,0,4,1,0.0
2,1,0,0,1,0,0,1,1,0,0,...,0.0,1.0,1,0,0,1,0,0,1,2.5
3,0,1,0,0,1,2,3,0,1,0,...,1.0,1.0,0,1,0,0,1,2,3,0.5
4,1,0,0,1,2,3,0,1,0,0,...,1.0,0.0,1,0,0,1,2,3,0,1.0

In [7]:
twitter_df.columns

Index(['0', '2', '0.1', '0.2', '1', '1.1', '1.2', '0.3', '1.3', '0.4', '0.5',
       '1.4', '1.5', '1.6', '0.000000', '0.000003', '0.000000.1', '0.000000.2',
       '0.000004', '0.000004.1', '0.000004.2', '0.000000.3', '1.000000',
       '0.000000.4', '0.000000.5', '1.000000.1', '1.000000.2', '1.000000.3',
       '0.6', '2.1', '0.7', '0.8', '1.7', '1.8', '1.9', '0.000000.6',
       '0.000003.1', '0.000000.7', '0.000000.8', '0.000002', '0.000002.1',
       '0.000002.2', '0.000000.9', '1.000000.4', '0.000000.10', '0.000000.11',
       '1.000000.5', '1.000000.6', '1.000000.7', '0.000000.12', '1.000000.8',
       '0.000000.13', '0.000000.14', '1.000000.9', '1.000000.10',
       '1.000000.11', '0.9', '1.10', '0.10', '0.11', '1.11', '1.12', '1.13',
       '0.000000.15', '1.000000.12', '0.000000.16', '0.000000.17',
       '1.000000.13', '1.000000.14', '1.000000.15', '0.12', '2.2', '0.13',
       '0.14', '1.14', '1.15', '1.16', '0.0'],
      dtype='object')